fastapi==0.115.*
uvicorn[standard]
sqlalchemy[asyncio]>=2.0
sqlmodel
alembic
psycopg2-binary
asyncpg
python-jose[cryptography]
passlib[bcrypt]
python-multipart          # для UploadFile
python-dotenv
pydantic-settings