/* Login.css */
.login-container {
  color: #e9eef7;
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
  width: 250px;
}
.login-title {
  text-align: center;
}
.reg {
  margin-top: 40px;
}
body {
  background-color: #1f2933;
}
